<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
  <div class="container" id="app">

    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="col-md-3">
            <a class="navbar-brand" @click="refreshPorts" href="#">Refresh</a>
          </div>
          <div class="col-md-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appPort }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" v-for="myPort in appPorts" @click="setPort(myPort)">
                {{ myPort }}
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <a a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appBaudrate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" v-for="myBaudrate in appBaudrates" @click="setBaudrate(myBaudrate)">
                {{ myBaudrate }}
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div v-if="appPortOpen">
              <button class="btn btn-outline-danger my-2 my-sm-0" 
                    type="submit" 
                    style="width: 100%"
                    @click="closePort">
                Close
              </button>   
            </div>
            <div v-else>
                <button class="btn btn-outline-success my-2 my-sm-0" 
                        type="submit" 
                        style="width: 100%"
                        @click="openPort">
                  Open
                </button>
            </div>
          
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <textarea output="outputText" 
                  class="form-control rounded-0" 
                  rows=25 
                  wrap=off
                  style="overflow:hidden;resize:none;" 
                  readonly 
                  v-model="appMessage">
        </textarea><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <input type="text" 
                 class="form-control" 
                 placeholder="Recipient's username" 
                 aria-label="Recipient's username" 
                 aria-describedby="basic-addon2"
                 v-model="appNewLine"
                 @keyup.enter='newCommand(appNewLine)'>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" 
                    type="button" 
                    @click='newCommand(appNewLine)'>
              Button
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

<!-- Bootstrap Optional JavaScript -->
<script>let $ = require('jquery');</script>
<script>require('popper.js');</script>
<script>require('bootstrap');</script>

<!-- Vue.js Management -->
<script src="js/vue.min.js"></script>
<script>

  // Requires
  const SerialPort = require('serialport');
  const SPreadline = require('@serialport/parser-readline');

  // Variables
  const parser = new SPreadline();
  var port = 0;

  // App Vue
  var app = new Vue({
    el: '#app',
    data: {
      appPortOpen: false,
      appPort: "COM1",
      appPorts: [""],
      appBaudrate: 9600,
      appBaudrates: [9600, 115200],
      appNewLine: "",
      appMessage: "",
      appMessageTabLength: 25,
      appMessageTab: []
    },
    methods: {
      addAppMessage: function (text) {
        var myString = text;
        this.appMessageTab.pop();
        this.appMessageTab.splice(0, 0, myString);
        this.appMessage = "";
        for (var i = this.appMessageTabLength - 1; i >= 0; i--) {
          this.appMessage += this.appMessageTab[i] + " \r\n";
        }
      },
      newCommand: function (text) {
        this.addAppMessage(text);
      },
      refreshPorts: function () {
        SerialPort.list((err, ports) => {
          this.appPorts = [];
          for (var i = 0; i < ports.length; i++) {
            this.appPorts.push(ports[i].comName);
          }
          this.appPort = this.appPorts[0];
        });
      },
      setBaudrate: function(baudrate) {
        this.appBaudrate = baudrate;
      },
      setPort: function(port) {
        this.appPort = port;
      },
      closePort: function() {
        this.appPortOpen = false;
      },
      openPort: function() {
        this.appPortOpen = true;
      }
    },
    created: function () {
      for (i = 0; i < this.appMessageTabLength; i++) {
        this.appMessageTab[i] = " ";
      }
      this.refreshPorts();
    }
  })
</script>

</html>